img {
    display: block;

    max-width: calc(min(90vw, 1000px));
    max-height: calc(min(50vh, 500px));

    margin: auto;

    border-radius: 6px;
}

.gallery-div {
    width: 100%;
    height: calc(min(50vh, 500px));

    overflow-x: hidden;

    position: relative;

    margin: auto;
}

.gallery-img-container {
    display: flex;

    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

    position: absolute;

    height: 100%;

    gap: 20px;
}

.gallery-img {
    overflow-y : hidden;
}

.gallery-button {
    --button-size: 50px;
    --button-arrow-offset: 5px;

    position: absolute;

    width: var(--button-size);
    height: var(--button-size);

    top: 50%;

    padding: 0px;
    margin: 0px;

    transform: translateY(-50%);

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: calc(var(--button-size) * 0.5);

    transition: none;

    -webkit-tap-highlight-color: transparent;
}

.gallery-button:focus,
.gallery-button:active,
.gallery-button:hover {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
}

.gallery-button:active {
    transform: translateY(-50%);
}

.gallery-button:focus-visible {
    outline: 3px solid #000000;
}

.gallery-button::before {
    content: "";

    width: var(--button-size);
    height: var(--button-size);

    left: 0px;
    top: 0px;

    position: absolute;

    transform-origin: center;

    transform: scale(0.4);

    background-image: url('/public/markdown/gallery-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.gallery-button-left::before {
    transform: scale(0.4) scaleX(-1) translateX(var(--button-arrow-offset));
}

.gallery-button-right::before {
    transform: scale(0.4) translateX(var(--button-arrow-offset));
}

.gallery-button-left {
    left: 10px;
}

.gallery-button-right {
    right: 10px;
}

.gallery-dot-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
}

.gallery-dot {
    width: 10px;
    height: 10px;
    border-radius: 7px;
    border: 2px solid #404040;
    background-color: white;
    cursor: pointer;
}

.gallery-dot-selected {
    background-color: #404040;
}
